# Project 3 Part 1

## Topic 1) Comparing Police Districts

Which district had the most crimes in 2022? District 8 had the most crimes in 2022 (14,805 crimes).

Which had the least? District 31 had the least crimes in 2022 (15 crimes).

## Topic 4) Comparing Months

â€‹What months have the most crime? July has the most crimes (717,232 crimes).

What months have the least? February has the least crimes (529,391 crimes).

Are there any individual crimes that do not follow this pattern? If so, which crimes?

## Topic 5) Comparing Holidays

What are the top 3 holidays with the largest number of crime?

For each of the top 3 holidays with the most crime, what are the top 5 most common crimes on that holiday?

### Imports

In [2]:
# import packages
import pandas as pd
import glob
# import holidays
import datetime as dt
from holidays import country_holidays
import os
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mticks
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
import calendar

In [3]:
# import data
# https://sparkbyexamples.com/pandas/pandas-read-multiple-csv-files/

# Get CSV files list from a folder
path = 'Data'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
df  = pd.concat(df_list, ignore_index=True)

In [4]:
# preview df
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1326041,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
1,1319931,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2,1324743,01/01/2001 01:00:00 PM,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
3,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
4,1318099,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020

In [42]:
# convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])

# change Primary Type name to Crime
df = df.rename(columns={'Primary Type': 'Crime'})

# verify changes
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7713109 entries, 2001-01-01 01:00:00 to 2022-12-31 12:59:00
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Crime                 object
 2   Description           object
 3   Location Description  object
 4   Arrest                bool
 5   Domestic              bool
 6   Beat                  int64
 7   District              float64
 8   Ward                  float64
 9   Latitude              float64
 10  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(3)
memory usage: 603.2+ MB

### Topic 1

In [21]:

# set Date column as index
df = df.set_index('Date')

# verify change
df.head()

,ID,Crime,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
Date,,,,,,,,,,,
2001-01-01 01:00:00,1326041,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
2001-01-01 13:00:00,1319931,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2001-01-01 13:00:00,1324743,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
2001-01-01 01:00:00,1310717,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
2001-01-01 01:00:00,1318099,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020

In [28]:
# filter for data from 2022 only
df_22 = df.loc['2022']

# verify change
df_22.head()

,ID,Crime,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
Date,,,,,,,,,,,
2022-01-01 13:00:00,12582293,THEFT,$500 AND UNDER,RESTAURANT,False,False,121,1.0,42.0,41.881884,-87.640060
2022-01-01 13:00:00,12607313,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,BANK,False,False,811,8.0,23.0,41.787923,-87.769446
2022-01-01 01:00:00,12585671,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,531,5.0,9.0,41.687443,-87.604120
2022-01-01 01:00:00,12592889,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,False,412,4.0,8.0,41.734353,-87.585147
2022-01-01 01:00:00,12584977,THEFT,$500 AND UNDER,OTHER (SPECIFY),False,False,1811,18.0,2.0,41.910818,-87.654560

In [29]:
# use value_counts() to get district with highest and lowest # of crimes in 2022
df_22['District'].value_counts().sort_values(ascending=False)

8.0     14805
6.0     14694
12.0    14341
4.0     13931
11.0    13457
1.0     13044
18.0    12429
19.0    12243
25.0    11951
3.0     11937
2.0     11793
9.0     10376
7.0     10319
10.0     9961
5.0      9773
16.0     9226
24.0     8469
15.0     8308
14.0     8158
22.0     7671
17.0     6997
20.0     4960
31.0       15
Name: District, dtype: int64

### Topic 4

In [45]:
# drop unnecessary columns
df_new = df[['Crime']]
df_new.head()

                               Crime
Date
2001-01-01 01:00:00          BATTERY
2001-01-01 13:00:00          BATTERY
2001-01-01 13:00:00         GAMBLING
2001-01-01 01:00:00  CRIMINAL DAMAGE
2001-01-01 01:00:00          BATTERY

In [48]:
# save date as column with no time
df_new['Date'] = df.index.date

C:\Users\eliud\AppData\Local\Temp\ipykernel_11668\2490763595.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'] = df.index.date

In [49]:
# verify change
df_new.head()

                               Crime        Date
Date
2001-01-01 01:00:00          BATTERY  2001-01-01
2001-01-01 13:00:00          BATTERY  2001-01-01
2001-01-01 13:00:00         GAMBLING  2001-01-01
2001-01-01 01:00:00  CRIMINAL DAMAGE  2001-01-01
2001-01-01 01:00:00          BATTERY  2001-01-01

In [50]:
# create MonthName column from index
df_new['MonthName'] = df.index.month_name()

C:\Users\eliud\AppData\Local\Temp\ipykernel_11668\2742131539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['MonthName'] = df.index.month_name()

In [52]:
# rename MonthName column to Month
df_new = df_new.rename(columns={'MonthName': 'Month'})

In [53]:
# verify change
df_new.head()

                               Crime        Date    Month
Date
2001-01-01 01:00:00          BATTERY  2001-01-01  January
2001-01-01 13:00:00          BATTERY  2001-01-01  January
2001-01-01 13:00:00         GAMBLING  2001-01-01  January
2001-01-01 01:00:00  CRIMINAL DAMAGE  2001-01-01  January
2001-01-01 01:00:00          BATTERY  2001-01-01  January

In [54]:
# view which month has most crimes
df_new['Month'].value_counts()

July         717232
August       710444
May          682932
June         681739
October      676285
September    668242
March        629704
April        627175
November     608961
January      601236
December     579768
February     529391
Name: Month, dtype: int64